.vuetable {
    thead tr th {
        background-color: #EFEFEF;
        border-bottom: 0 !important;
        color: #626262;
    }

    thead .sort-icon {
        float: left !important;
        margin-right: 10px;
        top: 3px;
    }

    tbody tr:first-child td {
        border-top: 0;
    }

    .vuetable-body {

        td {
            vertical-align: middle;
        }

        .actions > .btn {
            cursor: pointer;
            margin-right: 5px;

            i {
                margin: 0;
            }
        }

        .vuetable-slot {
            > .avatar,
            > .logo {
                width: 50px;
                height: 50px;
                overflow: hidden;
                position: relative;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                align-items: center;
                border-radius: 40px;
                margin: 0 auto;
            }

            > .logo {
                border-radius: 0;
            }
        }

        .vuetable-empty-result {
            font-weight: 600;
            padding-top: 40px;
        }
    }

    .vuetable-slot > .actions {
        white-space: nowrap;
        text-align: center;
    }

    .vuetable-col-actions {
        width: 1%;
    }
}

.vuetable-pagination .btn-nav {
    border: 0;
}

.vuetable-body-wrapper {
    overflow: auto;
}

/**
 * Responsive vuetable
 */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table.vuetable, .vuetable thead, .vuetable tbody, .vuetable th, .vuetable td, .vuetable tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .vuetable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .vuetable tr {
        border: 1px solid #ccc;
        border-bottom: 0;
    }

    .vuetable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    .vuetable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    /*
        Remember to label the data ie.
        td:nth-of-type(1):before { content: "First Name"; }
    */
}

.page-link {
    margin: 0 1px;
    border-radius: 5px;
    cursor: pointer;
}

.page-link.active {
    color: #fff !important;
    font-weight: bold;
    background-color: #37474f;
}

.page-link:disabled,
.page-link.disabled {
    pointer-events: none;
    opacity: .5;
}
